$afacad: "Afacad", sans-serif;
$outlinecolor: #221e74;
$buttoncolor: #2f2a99;
$buttonhovercolor: #3731af;
@font-face {
  font-family: "Afacad";
  src: url("@/assets/fonts/Afacad-VariableFont.ttf");
}

@font-face {
  font-family: "AfacadItal";
  src: url("@/assets/fonts/Afacad-Italic-VariableFont.ttf");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  font-family: $afacad;
  color: #f1f1f1;
}

a {
  text-decoration: none;
}

button {
  background-color: $buttoncolor;
  padding: 5px 15px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: $buttonhovercolor;
}

body {
  background-color: #030214;
  color: rgb(218, 218, 218);
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.top-bar .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.logo-link {
  margin-right: auto;
  img {
    width: 50px;
    height: 50px;
  }
}

.searchbar {
  margin-right: auto;
  width: 50%;
  position: relative;
  z-index: 3;
  input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $outlinecolor;
    background: none;
    padding: 10px;
  }
  input:focus {
    outline: none !important;
    border: 2px solid $outlinecolor;
  }
}

.search-output {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
  background-color: #0f0e1d;
  width: 100%;
}

.search-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  cursor: pointer;
}

.search-item-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

.home-page .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 10px;
  button {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 0;
  }
}

.active-page {
  background-color: $outlinecolor;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: 120px;
  text-wrap: wrap;
  cursor: pointer;
}

.item-image {
  width: 120px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.item-author {
  font-size: 15px;
  color: rgb(206, 206, 206);
}

.item-details {
  .container {
    padding: 100px 0;
  }
}

.item-details-item {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.item-left-side {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  width: 300px;
  height: 450px;
  button {
    width: 100%;
  }
}

.item-right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.item-details-title {
  font-weight: 700;
  font-size: 40px;
}

.item-details-author {
  font-weight: 500;
  font-size: 17px;
  color: #aaa;
}

.item-details-desc {
  color: #f5f5f5;
  font-size: 20px;
}

.item-details-image {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.fullsize-image {
  width: 1000px;
  position: absolute;
}

.absolute {
  position: absolute;
  bottom: -10%;
}

.error-page {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }
}

.error-message {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1300px) {
  .container {
    width: 1024px;
  }
  button {
    font-size: 10px;
  }
  .items {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .fullsize-image {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
  .filters {
    width: 500px;
  }

  .items {
    max-width: 500px;
  }

  .item {
    width: 100px;
  }

  .item-image {
    width: 100px;
  }

  .item-details-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .item-details-button {
    display: none;
  }
}

@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .filters {
    width: 300px;
  }

  .items {
    max-width: 300px;
  }
}
